---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>



<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<!-- Your features code -->
<div class="text-center">
  <div class="wrapper-features">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <img src="images/globe.png" alt="globe">
          <h2>Discover the word</h2>
          <p>The earth is your new home.</p>
        </div>
        <div class="col-sm-6 col-md-3">
          <img src="images/dollar.png" alt="dollar">
          <h2>Pay online</h2>
          <p>No cash issues anymore.</p>
        </div>
        <div class="col-sm-6 col-md-3">
         <img src="images/beer.png" alt="beer">
         <h2>Meet people</h2>
         <p>Discover new culture and lifestyle</p>
       </div>
       <div class="col-sm-6 col-md-3">
         <img src="images/heart.png" alt="heart">
         <h2>Share and love</h2>
         <p>Join a community you will love</p>
       </div>
     </div>
   </div>
 </div>

 <!-- Your cards code -->
 <div class="wrapper-grey padded">
   <h2>Your next trip</h2>
   <div class="container">
     <div class="row">
       <div class="col-sm-4">
        <div class="card">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg')">
            <div class="card-category">Paris</div>
            <div class="card-description">
              <h2>Seb's home</h2>
              <p>charming room with patio</p>
            </div>
            <img class="card-user avatar avatar-large" src="images/seb.jpg">
            <a class="card-link" href="#"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg')">
            <div class="card-category">Paris</div>
            <div class="card-description">
              <h2>Anne's home</h2>
              <p>charming patio without room</p>
            </div>
            <img class="card-user avatar avatar-large" src="images/anne.jpg">
            <a class="card-link" href="#"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg')">
            <div class="card-category">Brussels</div>
            <div class="card-description">
              <h2>Romain's home</h2>
              <p>charming room without patio</p>
            </div>
            <img class="card-user avatar avatar-large" src="images/romain.jpg">
            <a class="card-link" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Your newsletter code -->
<div class="text-center">
 <h3>Get news from us!</h3>
 <p>Leave us your mail and get news from us</p>
 <form action="/" class="form-inline">
   <input type="email" class="form-control" placeholder="email">
   <input type="submit" value="Subscribe" class="btn btn-primary">
 </form>
</div>
</div>

<!-- Your map code -->
<div id="map">
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<div style='overflow:hidden;height:500px;width:100%;'>
  <div id='gmap_canvas' style='height:500px;width:100%;'></div>
  <div>
    <small>
      <a href="http://embedgooglemaps.com">                  embed google maps             </a>
    </small>
  </div>
  <div>
    <small>
      <a href="http://werkenbij.rebelinternet.nl/hr-manager/">HR Manager</a>
    </small>
  </div>

  <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div>
<script type='text/javascript'>
  function init_map(){
   var myOptions = {
     zoom:13,
     center:new google.maps.LatLng(51.5073509,-0.12775829999998223),
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     scrollwheel: false,
     styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00 "},{"lightness":-25},{"saturation":-97}]}]
   };

   map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
   marker = new google.maps.Marker({
     map: map,
     position: new google.maps.LatLng(51.5073509,-0.12775829999998223)
   });
   infowindow = new google.maps.InfoWindow({
     content:'<strong>Not Home :)</strong><br>London, United Kingdom<br>'
   });
   google.maps.event.addListener(marker, 'click', function(){
     infowindow.open(map,marker);});
   infowindow.open(map,marker);}
   google.maps.event.addDomListener(window, 'load', init_map);
 </script>
</div>


<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
